.inputfelt{
    display: flex;
    gap: 1.7rem;
    justify-content: center;
    padding-top: 6rem;

    background-color:var(--accent-color) ;
    color: white;


    font-family: var(--accent-font);
    font-weight: 700;

}

input{
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
}

.sendKnap{
    display: block;
    padding: 0.5rem;
    width: 110px;
    height: 40px;

    border: none;
    border-radius: 5px;

    background-color: var(--base-color);
    color: white;

    font-family: var(--accent-font);
    font-weight: 700;

}